## Editor config

## Wrap lines at column 
set fill 72

## Search using regex
set regexp

## Text wrapping
set softwrap

## Do case sensitive searches by default.
set casesensitive

## Enable ~/.nano_history for saving and reading search/replace strings.
set historylog

## Don't add newlines to the ends of files.
set nonewlines

## Allow nano to be suspended.
set suspend

## Scroll line-by-line
set smooth  

## Backup files to filename~ 
unset backup 

## Syntax highlighting
include /usr/local/share/nano/*.nanorc

## The characters treated as closing brackets when justifying
## paragraphs.  They cannot contain blank characters.  Only closing
## punctuation, optionally followed by closing brackets, can end
## sentences.
##
set brackets ""')>]}"

## Constantly display the cursor position in the statusbar.  Note that
## this overrides "quickblank".
set constantshow

## The opening and closing brackets that can be found by bracket
## searches.  They cannot contain blank characters.  The former set must
## come before the latter set, and both must be in the same order.
##
set matchbrackets "(<[{)>]}"

## Allow multiple file buffers (inserting a file will put it into a
## separate buffer).  You must have configured with --enable-multibuffer
## for this to work.
##
set multibuffer

## Don't wrap text at all.
set nowrap

## The characters treated as closing punctuation when justifying
## paragraphs.  They cannot contain blank characters.  Only closing
## punctuation, optionally followed by closing brackets, can end
## sentences.
##
set punct "!.?"

## Use this tab size instead of the default; it must be greater than 0.
set tabsize 4

## Convert typed tabs to spaces.
set tabstospaces

##  Hide Help from Bottom 

set nohelp

## More Space

set morespace

set linenumbers 

set boldtext

set titlecolor   white,black
set statuscolor  white,black
set numbercolor  white,black